.background {
  background-image: url('../images/vintage_notebook.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#binding {
  background-image: url(https://i.stack.imgur.com/58Fp8.png);
  background-size: contain;
  background-color: rgb(210,205,160);
}

#descrip {
  background-color: rgb(220,212,175);
}

.prolinks {
  padding-left: 10px;
  padding-right: 10px;
}

.box {
  background-color: black;
  opacity: 0.9;
  border: black;
}

.aboutpic {
  height: 200px;
  width: 200px;
}
