@import url('https://fonts.googleapis.com/css?family=Special+Elite');

.navbar-default {
   background-color: rgb(225,225,210);
   border-color: black;
   background-image: none;
}

.background {
  background-image: url('../images/vintage_notebook.jpg');
  background-size: cover;
}

#spacetop {
  padding-top: 10%;
}

#spacebottom {
  padding-bottom: 20%;
}

.panel {
  background: none;
  border: none;
}

.panel-body {
  padding-bottom: 110px;
}

.heading {
  text-align: center;
}

.col-xs-12 {
  height: 400px !important;
}

.col-xs-6 {
  top: 110px !important;
}

#about {
  background-image: url('../images/tornpaper.png');
  background-position: top;
  background-size: 75% 100%;
  background-repeat: no-repeat;
  font-family: Special Elite;
  position: relative;
  margin-bottom: 50px;
}

.prolinks {
  padding-left: 10px;
  padding-right: 10px;
}

.caption {
  border: black;
}

.box {
    background-color: rgba(255, 255, 255, .9);
    border: black;
    box-shadow: 4px 4px 4px #61605f;
}

.aboutpic {
  box-shadow: 4px 4px 4px #61605f;
  height: 200px;
  width: 200px;
}
