#splashbody {
  background-image: url('../images/notesplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#splash {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#info {
  width: 600px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 30px;
  border-radius: 10px;
}

.modal-dialog {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

form {
  width: 600px;
}

.modalButtons button {
  width: 200px;
  background: rgb(197,12,60);
}

.modalButtons button:hover {
  width: 250px;
  background: rgb(114,144,146);
}

.modalButtons button:focus, button:active {
  background-color: rgb(114,144,146) !important;
}

#userLogin{
  background-color: rgb(197,12,60);
  color: white;
  background-image: none;
  letter-spacing: 0.1em;
  font-family: times;
}

#userLogin:hover{
  background-color: rgb(114,144,146);
  color: white;
  background-image: none;
}

.btn-default {
  background-color: rgb(197,12,60);
  color: black;
}

.btn-default:hover {
  background-color: rgb(114,144,146);
  color: black;
  background-position: 0 0px;
}

hr {
    border-top: 1px solid #8c8b8b;
    text-align: center;
}

hr:after {
    content: 'ยง';
    display: inline-block;
    position: relative;
    top: -14px;
    padding: 0 10px;
    color: black;
    font-size: 18px;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg);
}

.hidden {
  display: none;
}

/*
 *
 * Snackbar
 *
 */

 #snackbar {
     visibility: hidden;
     min-width: 250px;
     margin-left: -125px;
     background-color: rgba(51, 87, 76, 0.8);
     color: #FFF;
     text-align: center;
     border-radius: 2px;
     padding: 16px;
     position: fixed;
     z-index: 2000;
     left: 50%;
     bottom: 200px;
 }

 /* Show the snackbar when clicking on a button (class added with JavaScript) */
 #snackbar.show {
     visibility: visible; /* Show the snackbar */

     -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
     animation: fadein 0.5s, fadeout 0.5s 2.5s;
 }

 /* Animations to fade the snackbar in and out */
 @-webkit-keyframes fadein {
     from {bottom: 0; opacity: 0;}
     to {bottom: 200px; opacity: 1;}
 }

 @keyframes fadein {
     from {bottom: 0; opacity: 0;}
     to {bottom: 200px; opacity: 1;}
 }

 @-webkit-keyframes fadeout {
     from {bottom: 200px; opacity: 1;}
     to {bottom: 0; opacity: 0;}
 }

 @keyframes fadeout {
     from {bottom: 200px; opacity: 1;}
     to {bottom: 0; opacity: 0;}
 }
