#splashbody {
  background-image: url('../images/notesplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#splash {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#info {
  width: 600px;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 30px;
  border-radius: 10px;
}
.modal-dialog {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}
form {
  width: 600px;
}
.modalButtons button {
  width: 200px;
}
