@import url('https://fonts.googleapis.com/css?family=Special+Elite');

html {
  height: 100%;
}

.navbar-default {
   background-color: rgb(225,225,210);
   border-color: black;
   background-image: none;
}

.background {
  background-image: url('../images/notebook_clock.jpg');
  background-size: cover;
}

#left {
  height: 60vh;
}

#magic {
  display: none;
}

#middle {
  background-color: white;
}

#myvids{
  background-image: url('../images/brownpaper.png');
  background-position: center;
  background-size: 400px 150px;
  background-repeat: no-repeat;
  font-family: Special Elite;
  padding-bottom: 6%;
  padding-top: 5%;
}
#label1 {
  background-image: url('../images/tornpaper-notape1.png');
  background-position: center;
  background-size: 300px 75px;
  background-repeat: no-repeat;
  font-family: Special Elite;
  padding-bottom: 0%;
  padding-top: 2%;
  text-align: center;
}

#label2 {
  background-image: url('../images/tornpaper-notape1.png');
  background-position: center;
  background-size: 300px 75px;
  background-repeat: no-repeat;
  font-family: Special Elite;
  padding-bottom: 0%;
  padding-top: 2%;
  text-align: center;
}

#player {
  height: 100%;
  width: 100%;
}

#flexbox {
  height: 80%;
  padding-top: 2%;
}

@media (max-width: 1199px){
  #label2 {
    display: none;
  }
  #label1 {
    display: none;
  }
  #left {
    height: 70vh;
    width: 80vw;
    padding-bottom: 25px;
  }
}
