#myvids, #sharedvids, #results{
  border: 1px solid black;
  /*margin: 10px;*/
}

#results{
}

.background {
  background-image: url('../images/notesplash2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
.urlContainer{
  display: none;

}

.col-xs-5 {
  background-color: rgb(220,212,175);
  border-radius: 10px;
}

.results {
}

#resultspg {
  background-color: rgb(220,212,175);
  border-radius: 10px;
  display: none;
}

.btn {
  padding: 10px;
  padding-bottom: 10px;
}
