#myvids, #sharedvids, #results{
  border: 1px solid black;
  margin: 10px;
}

#myvids{
  margin-right: 5px;
}

#sharedvids{
  margin-left: 5px;
}

#results{
}

.background {
  background-image: url('../images/notesplash2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
.urlContainer{
  display: none;

}

.col-xs-4 {
  background-color: rgb(220,212,175);
  border-radius: 10px;
}

#resultspg {
  background-color: rgb(220,212,175);
  border-radius: 10px;
  display: none;
}

.btn {
  padding: 10px;
  padding-bottom: 10px;
}
