.navbar-default {
   background-color: rgb(225,225,210);
   border-color: black;
   background-image: none;
}

#myvids, #sharedvids, #results{
  /*border: 1px solid black;*/
  margin: 10px;
  /*background-image: url('../images/brown_paper_slip.jpg');*/
}

#myvids{
  background-image: url('../images/brownpaper.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: Georgia;
  padding-bottom: 7%;
  padding-top: 5%;
}

#sharedvids{
  background-image: url('../images/brownpaper.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: Georgia;
  padding-bottom: 7%;
  padding-top: 5%;
}

.background {
  background-image: url('../images/notesplash2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
.urlContainer{
  display: none;

}

.col-xs-4 {

}

#resultspg {
  background-color: rgb(220,212,175);
  border-radius: 10px;
  border: 1px solid black;
  width:50%;
  display: none;
  opacity: 0.9;
  box-shadow: 2px 2px 2px black;
  font-family: Georgia;
  padding: 2%;
}

#search {
  background: rgb(245,245,225);
}

.btn {
  padding: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  background: rgb(220,212,175);
  font-family: Georgia;
  font-size: 23px;
  box-shadow: 2px 2px 2px black;
  border-color: black;
}

.btn:hover {
  background: rgb(90,130,118);
  color: white;
  border-color: black;
  /*background: rgb(120,150,141);*/
}
