#myvids, #sharedvids, #results{
  border: 1px solid black;
  background-color: white;
  /*margin: 10px;*/
}

#myvids{
  margin-right: 5px;
}

#sharedvids{
  margin-left: 5px;
}

#results{
}

.background {
  /*background-image: url('../images/notesplash2.jpg');*/
  background-repeat: no-repeat;
  background-size: cover;
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
.urlContainer{
  display: none;

}
