@import url('https://fonts.googleapis.com/css?family=Special+Elite');

.navbar-default {
   background-color: rgb(225,225,210);
   border-color: black;
   background-image: none;
}

#myvids, #sharedvids, #results{
  /*margin: 10px;*/
}

#myvids{
  background-image: url('../images/brownpaper.png');
  background-position: center;
  background-size:70%;
  background-repeat: no-repeat;
  font-family: Special Elite;
  padding-bottom: 7%;
  padding-top: 5%;
}

h3 {
  font-size: 36px;
}

#sharedvids{
  background-image: url('../images/brownpaper.png');
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  font-family: Special Elite;
  padding-bottom: 7%;
  padding-top: 5%;
}

.background {
  background-image: url('../images/notesplash2.jpg');
  background-size: 100vw;
  background-position: top;

}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
.urlContainer{
  display: none;
}

#resultspg {
  background-color: rgb(220,212,175);
  border-radius: 10px;
  border: 1px solid black;
  width:50%;
  display: none;
  box-shadow: 2px 2px 2px black;
  font-family: Special Elite;
  padding-top: 1%;
}

#search {
  background: rgb(245,245,225);
}

.btn {
  padding-top: 15px;
  border-radius: 10px;
  background: rgb(220,212,175);
  font-family: Special Elite;
  font-size: 25px;
  box-shadow: 2px 2px 2px black;
  border-color: black;
}

.btn:hover {
  background: rgb(90,130,118);
  color: white;
  border-color: black;
}

/*Sean's Style Edits*/
.panel-heading.pHead{
  background-image: none;
  background-repeat: no-repeat;
  background-color: rgb(90,130,118);
  color: white;
  font-size: 15px;
  font-style: bold;
  font-family: Special Elite;
  text-transform: uppercase;
  border:0;
}
.titlea{
  text-decoration: none;
  font-size: 15px;
  font-style: bold;
  font-family: Special Elite;
  text-transform: uppercase;
  color: white;
}

.titlea:hover{
  text-decoration: none;
  font-size: 15px;
  font-style: bold;
  font-family: Special Elite;
  text-transform: uppercase;
  color: white;
}

.titlea+.tooltip>.tooltip-inner{
  background-color: rgb(200, 223, 216);
  color:black;
  font-size: 12px;
  font-family: Special Elite;
}
.titlea+.tooltip.top>.tooltip-arrow{

  border-top-color: rgb(200, 223, 216);
}


.panel-body{
  background-image: none;
  background-color: white;
  padding-left:0;
  padding-right:0;
  padding-top:0;
  padding-bottom:0;
  /*border:1px solid black;*/
  margin-left:0;
  margin-right:0;
}

.panel-default{
  max-width: 322px;
  margin-left: 2%;
  margin-right: 2%;
  border: 0;
  box-shadow: 5px 5px 5px rgba(0,0,0,.6);
  display:inline-block;
}

.descript{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
}

.panelImg{
  /*border: 1px solid black;*/
  width:322px;
  max-height: 181.13px;
}
