#flexbox {
  display: flex;
  flex-direction: row;
}

#notes {
  height: 90vh;
  width: 40vw;
}

#left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#middle {
  display: flex;
  flex-direction: column;
  width: 10vw;
}

#right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}
